<template>
  <div id="app" style="display: flex; flex-direction: row;">
    <div style="border: 1px solid black;">
      <form @submit.prevent="onSubmitNewTopic">
        <div>
          <input type="text" v-model="newTopic" placeholder="제목">
        </div>
        <div>
          <input type="text" v-model="first" placeholder="짜장">
        </div>
        <div style="text-align:center">
          <strong>VS</strong>
        </div>
        <div>
          <input type="text" v-model="second" placeholder="짬뽕">
        </div>
        <input type="submit">
      </form>
      <ul>
        <li
          v-for="topic in topics"
          :key="topic.id"
          @click="currentTopic = topic"
        >
          {{ topic.title }}
        </li>
      </ul>
    </div>
    <div v-if="currentTopic" style="border: 1px solid black; flex: 1;">
      <h1>{{ currentTopic.title }}</h1>
      <div>
        {{currentTopic.first }}
        {{currentTopic.second }}
      </div>
      <div>
        <form>
          <input type="radio" id="contactChoice1"
          name="contact" value="A"><label for="contactChoice1">짜장</label>
          <input type="radio" id="contactChoice2"
          name="contact" value="B"><label for="contactChoice2">짬뽕</label>
          <input type="submit">
        </form>
        <ul>
          <li v-for="comment in comments" :key="comment.id">
            {{ comment.body }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      newTopic: '',
      topics: [],
      currentTopic: null
    }
  },
  methods: {
    onSubmitNewTopic: function () {
      if (this.newTopic.trim() === '') {
        return
      }

      this.topics.push({
        id: Date.now(),
        title: this.newTopic,
        first: this.first,
        second: this.second,
        comments: []
      })

      this.newTopic = ''
      this.second = ''
      this.first = ''
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
